
body {
  margin: 2rem;
  padding: 2rem, 4rem 2rem, 4rem;
}

h1 {
  font-family: Josefin Sans, Lucida Sans;
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: purple;
}

p { 
  font-size: 1rem;
  border: solid;
  font-family:'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  p {font-size: 1.5rem;
   }
}

@media (min-width: )
