/* General styyyle rules */ 

img { 
  min-width: 100%;
}


body {
  margin: 2rem;
  padding: 2rem, 4rem 2rem, 4rem;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 6rem;
}

h2 {
  font-family:'Josefin Sans', sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 6rem;
  color: purple;
  padding: 1em;
  border: solid;
  border-color: mediumturquoise;
  border-radius: 50%;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: blue; 
  border: 2px solid black; 
  padding: 2rem;
}

.center {
  text-align: center;
}

.center-w-border {
  text-align: center;
  border: 3px solid red;
}

li {
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
}

ul {
  list-style:circle;
}

div {
  border: 10px solid lightskyblue; 
}

span {
  font-family: 'Bigelow Rules', cursive;
  font-size: 4rem;
  color: mediumslateblue;
}

/* Styling for Phone 320px wide */
      @media (min-width: 150px) {
        p {font-size: 0.6rem;
        }
        }

      @media (min-width: 320px) {
        p {font-size: 1rem;
        }
        }

      @media (min-width: 150px) {
        .small-image {width: 100px;
        }
      }
        
      @media (min-width: 150px) {
        .medium-image {width: 100px;
        }
      }
        
      @media (min-width: 150px) {
        .large-image {width: 320px; 
        }
      } 

      @media (min-width: 150px) {
        span {font-size: 1.5rem;
        }
      } 
      @media (min-width: 320px) {
        span {font-size: 2rem;
        }
      } 

/* Styling for Tablet */

      @media (min-width: 768px) {
        p {font-size: 1.8rem;
        }
        }

      @media (min-width: 768px) { 
        .small-image {width: 200px;
          }
      }
      @media (min-width: 768px) {
        .medium-image {width: 400px;
        }
      }
      @media (min-width: 768px) {
        .large-image {width: 768px; 
        }
      } 

      @media (min-width: 768px) {
        span {font-size: 4rem;
        }
      } 

/* Styling for Desktop */  

      @media (min-width: 1200px) {
        p {font-size: 3rem;
        }
      }

      @media (min-width: 1200px) { 
        .small-image {width: 300px;
          }
      }
      @media (min-width: 1200px) {
        .medium-image {width: 600px;
        }
      }
      @media (min-width: 1200px) {
        .large-image {width: 1200px; 
        }
      } 

      @media (min-width: 1200px) {
        span {font-size: 6rem;
        }
      } 